# <center> Retail Price Prediction Using Decision Trees

## Importing Libraries

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split,RepeatedKFold,GridSearchCV
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

## Reading the Normalized Dataset

df = pd.read_csv("FinalDf.csv")

In [3]:
df.head()

,Unnamed: 0,State_Andhra Pradesh,State_Arunachal Pradesh,State_Assam,State_Bihar,State_Goa,State_Gujarat,State_Haryana,State_Himachal Pradesh,State_Jammu Kashmir,...,Unit_Dozen,Unit_80gm. Pkt,Unit_Litre,Unit_Kg,Unit_400/800 Gm,Unit_Peice,Unit_500gm. Pkt,Retail Price,Month,Year
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,24.0,1,2001
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,26.0,1,2001
2,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,25.5,1,2001
3,10,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,28.0,1,2001
4,12,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,27.0,1,2001

## Model Training

### Separating the X and Y variables

In [4]:
X = df.drop("Retail Price",axis = 1)
Y = df["Retail Price"]

### Splitting the Dataset into training and testing datasets
Since the dataset is very large, we will be separating the dataset into training and testing dataset in case of Decision Tree Model Training as well.

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=0,test_size = 0.25)

In [17]:
X_train.shape

(860584, 207)

### Initializing the model using regressor variable

In [13]:
regressor = DecisionTreeRegressor(random_state=0)

### Training the Model on Training Dataset

In [14]:
regressor.fit(X_train,Y_train)

DecisionTreeRegressor(random_state=0)

### Predicting outcome of first record in test dataset

In [29]:
y_pred = regressor.predict([X_test.iloc[0, :]])

In [30]:
y_pred

array([25.])

### Predicting the Outcome of on test dataset

In [34]:
y_pred = regressor.predict(X_test)

## Accuracy of Model

### Calculating the Mean Absolute Error

In [33]:
mean_absolute_error(Y_test, regressor.predict(X_test))

4.848201142220197

### Calculating Prediction Score

In [36]:
r2_score(y_pred,Y_test)

0.8396528664019275